body {
margin: 0;
background: radial-gradient(circle at center, #5a2a2a, #1a0b0b);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Georgia', serif;
overflow: hidden;
}

.card {
background: #f5e6c8;
padding: 38px 32px;
border-radius: 14px;
text-align: center;
max-width: 330px;
box-shadow:
    0 25px 40px rgba(0,0,0,0.45),
    inset 0 0 25px rgba(139, 69, 19, 0.25);

border: 1.5px solid #d2b48c;
/*z-index: 1;*/
}

.titulo {
font-size: 19px;
color:#7a1f2b;
margin-bottom: 14px;
letter-spacing: 0.5px;
}

.card P{
font-size: 15.5px;
line-height: 1.6;
color: #4a2c2a;
}

.contador {
margin-top: 16px;
font-style: italic;
font-size: 14px;
opacity: 0.85;
}

.arbol {
font-size: 68px;
margin-top: 22px;
color: #5a2d0c;
}

.corazon {
position: absolute;
top: -20px;
animation: caer 9s linear forwards;
opacity: 0.35;
filter: blur(0.4px);
pointer-events: none;
color: #6f3b1e;
}

@keyframes latir {
0%, 100% { transform: scale(1); }
50% { transform: scale(1.12); }
}

.arbol {
animation: latir 2.5s ease-in-out infinite;
}

#mensaje::after {
content: "|";
margin-left: 2px;
animation: parpadeo 1s infinite;
color: #4a2c2a;
}

@keyframes parpadeo {
0%, 50%, 100% { opacity: 1; }
25%, 75% { opacity: 0; }
}

@keyframes caer {
0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
}

10% {
    opacity: 0.35;
}

100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
}
}

#frase {
display: block;
margin-top: 6px;
font-size: 13px;
color: #5a2d0c;
opacity: 0.85;
font-style: italic;
}

#firma {
margin-top: 6px;
font-size: 16px;
font-style: italic;
letter-spacing: 2px;
color: #7a1f2b;
opacity: 0.85;
text-shadow: 1px 1px 2px rgba(0,0,0,0.3);

}

@keyframes parpadeoSuave {
0%, 100% { opacity: 0.85; }
50% { opacity: 1; }
}
#firma {
  animation: parpadeoSuave 2s infinite;
}
